<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pet.ft.mapper">
  

  	<resultMap type="MemberDto" id="memberListMap">
  		<result property="member_no" column="MEMBER_NO"/>
  		<result property="member_name" column="MEMBER_NAME"/>
  		<result property="member_id" column="MEMBER_ID"/>
  		<result property="member_pw" column="MEMBER_PW"/>
  		<result property="member_email" column="MEMBER_EMAIL"/>
  		<result property="member_phone" column="MEMBER_PHONE"/>
  		<result property="member_role" column="MEMBER_ROLE"/>
  		<result property="member_address" column="MEMBER_ADDRESS"/>
  	</resultMap>
  	
  	<resultMap type="CommunityDto" id="reportListMap">
  		<result property="community_seq" column="COMMUNITY_SEQ"/>
  		<result property="community_title" column="COMMUNITY_TITLE"/>
  		<result property="community_content" column="COMMUNITY_CONTENT"/>
  		<result property="community_regdate" column="COMMUNITY_REGDATE"/>
  		<result property="community_report" column="COMMUNITY_REPORT"/>
  		<result property="community_reportcount" column="COMMUNITY_REPORTCOUNT"/>
  		<result property="community_no" column="COMMUNITY_NO"/>
  		<result property="community_comment" column="COMMUNITY_COMMENT"/>
  		<result property="member_no" column="MEMBER_NO"/>
  		<result property="community_reportcontent" column="COMMUNITY_REPORTCONTENT"/>
  		<collection property="memberVO" resultMap="memberListMap"></collection>
  	</resultMap>
  

  
  	<insert id="MemberInsert" parameterType="MemberDto">
  		INSERT INTO MEMBER
  		VALUES(MEMBER_SEQ.NEXTVAL, #{member_name}, #{member_id}, #{member_pw}, #{member_email}, #{member_phone}, '회원', #{member_address})
  	</insert>
  	
  	<select id="SignUpIdChk" resultType="MemberDto" parameterType="String">
  		SELECT MEMBER_ID FROM MEMBER
  		WHERE MEMBER_ID = #{member_id}
  	</select>
  	
  	<select id="SignUpEmailChk" resultType="MemberDto" parameterType="String">
  		SELECT MEMBER_EMAIL FROM MEMBER
  		WHERE MEMBER_EMAIL = #{member_email}
  	</select>
  	
  	<select id="MemberOne" resultType="MemberDto" parameterType="int">
  		SELECT * FROM MEMBER WHERE MEMBER_NO = #{member_no}
  	</select>
  	
  	<select id="CommunityList" resultType="CommunityDto">
  	SELECT * FROM COMMUNITY WHERE COMMUNITY_COMMENT = 0 AND COMMUNITY_REPORT='N' ORDER BY COMMUNITY_SEQ DESC
  	</select>  	
  	
  	<select id="CommunitySearchCommentContent" parameterType="String" resultType="CommunityDto">
  	SELECT * FROM COMMUNITY WHERE COMMUNITY_COMMENT >0 AND INSTR(COMMUNITY_CONTENT, #{community_search})>0 AND COMMUNITY_REPORT='N' ORDER BY COMMUNITY_SEQ DESC
  	</select>
  	
  	<select id="CommunitySearchContent" parameterType="String" resultType="CommunityDto">
  	SELECT * FROM COMMUNITY WHERE COMMUNITY_COMMENT = 0 AND INSTR(COMMUNITY_CONTENT, #{community_search})>0 AND COMMUNITY_REPORT='N' ORDER BY COMMUNITY_SEQ DESC
  	</select>
  	
  	<select id="CommunitySearchTitle"  parameterType="String" resultType="CommunityDto">
  	SELECT * FROM COMMUNITY WHERE COMMUNITY_COMMENT = 0 AND INSTR(COMMUNITY_TITLE, #{community_search})>0  AND COMMUNITY_REPORT='N'ORDER BY COMMUNITY_SEQ DESC
  	</select>
  	
  	
  	<select id="CommentList" parameterType="int" resultType="CommunityDto">
  	SELECT * FROM COMMUNITY WHERE COMMUNITY_NO = #{community_no} AND COMMUNITY_COMMENT > 0 AND COMMUNITY_REPORT='N' ORDER BY COMMUNITY_SEQ DESC
  	</select>
  	
  	
  	<insert id="CommunityInsert" parameterType="CommunityDto">
  		INSERT INTO COMMUNITY
  		VALUES(COMMUNITY_SEQ_SEQ.NEXTVAL, #{community_title}, #{community_content}, SYSDATE, 'N', 0, '',COMMUNITY_NO_SEQ.NEXTVAL, 0,0,0,  #{member_no})  	
  	</insert>
  	<insert id="CommentInsert" parameterType="CommunityDto">
  		INSERT INTO COMMUNITY
  		VALUES(COMMUNITY_SEQ_SEQ.NEXTVAL, '댓글', #{community_content}, SYSDATE, 'N', 0, '', #{community_no}, (SELECT MAX(COMMUNITY_COMMENT) FROM COMMUNITY WHERE COMMUNITY_NO = #{community_no})+1, 0, 0 , #{member_no})  	
  	</insert>
  
  	<select id="CommunityOne" resultType="CommunityDto" parameterType="int">  	
  	  	SELECT * FROM COMMUNITY WHERE COMMUNITY_SEQ = #{community_seq}  	  	
  	</select>
  	
  	<update id="CommunityReport" parameterType="int">
  		UPDATE COMMUNITY SET COMMUNITY_REPORTCOUNT = COMMUNITY_REPORTCOUNT+1 WHERE COMMUNITY_SEQ = #{community_seq}
  	</update>
  	
  	<update id="CommunityUpdate" parameterType="CommunityDto">
  		UPDATE COMMUNITY SET COMMUNITY_TITLE = #{community_title}, COMMUNITY_CONTENT = #{community_content} WHERE COMMUNITY_SEQ = #{community_seq}
  	</update>
  	
  	<delete id="CommunityDelete" parameterType="int">
  		DELETE FROM COMMUNITY WHERE COMMUNITY_SEQ = #{community_seq}
  	</delete>
  	
  	<update id="CommunityLike" parameterType="int">
  		UPDATE COMMUNITY SET COMMUNITY_LIKE = COMMUNITY_LIKE+1 WHERE COMMUNITY_SEQ = #{community_seq}
  	</update>  	

  	<update id="CommunityViews" parameterType="int">
  		UPDATE COMMUNITY SET COMMUNITY_VIEWS = COMMUNITY_VIEWS+1 WHERE COMMUNITY_SEQ = #{community_seq}
  	</update>  	

  	<select id="CommunityCommentCount" resultType="int" parameterType="int">
		SELECT COUNT(COMMUNITY_COMMENT) FROM COMMUNITY WHERE COMMUNITY_NO = #{community_no} ORDER BY COMMUNITY_SEQ DESC 
  	</select>  	
  	
  	 <select id="selectList" resultType="businessDto">
   		SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_NO, BUSINESS_ADDR, BUSINESS_TIME 
  		 FROM BUSINESS 
  		 ORDER BY BUSINESS_NUM DESC
 	 </select>
 	 <select id="selectOne" parameterType="int" resultType="businessDto">
  		SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_NO, BUSINESS_ADDR, BUSINESS_TIME 
   		FROM BUSINESS 
  		WHERE BUSINESS_NUM = #{business_num}
  	<select id = "CalViewList" parameterType="Map" resultType="CalendarDto">
  		SELECT * FROM CALENDAR WHERE MEMBER_NO = #{member_no} AND SUBSTR(CALENDAR_STARTDATE, 1, 6) = #{calendar_startdate}
  	</select>
  	
  	<insert id ="CalendarInsert" parameterType="CalendarDto">
  		INSERT INTO CALENDAR
  		VALUES(CALENDAR_NO_SEQ.NEXTVAL, #{calendar_startdate}, #{calendar_enddate}, #{calendar_necessity}, #{calendar_item}, #{calendar_title}, #{calendar_content}, ${member_no})
  	</insert> 
  	
  	<select id="BusinessList" resultType="BusinessDto">
	  	SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_ADDR,BUSINESS_ROLE, MEMBER_PHONE, BUSINESS_PARK
		FROM BUSINESS JOIN MEMBER USING(MEMBER_NO)
		WHERE BUSINESS_ROLE = 'S'
		ORDER BY BUSINESS_NUM DESC
  	</select>
  	 <select id="BusinessOne" parameterType="int" resultType="businessDto">
  		SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_NO, BUSINESS_ADDR, BUSINESS_TIME, BUSINESS_ROLE
   		FROM BUSINESS JOIN MEMBER USING(MEMBER_NO)
  		WHERE BUSINESS_NUM = #{business_num}
  	</select>
  	 <insert id="BookInsert" parameterType="BookDto">
  		INSERT INTO BOOK
  		VALUES(BOOK_NUM_SEQ.NEXTVAL, #{book_date}, #{book_time}, #{book_type}, #{book_store}, #{member_no}, 0, 'N', #{book_hostime,jdbcType=VARCHAR})  	
  	</insert> 
  
  	<select id="totalMember" resultType="int">
  		SELECT COUNT(*) FROM MEMBER
  	</select>
  	
  	<select id="memberList" resultMap="memberListMap" >
  		<![CDATA[
  		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_ID, MEMBER_EMAIL, MEMBER_ROLE, MEMBER_PHONE, MEMBER_ADDRESS
  		FROM MEMBER
  		ORDER BY MEMBER_NO DESC
  		]]>
  	</select>
  		
  	<select id="memberListPaging" parameterType="hashmap" resultMap="memberListMap" >
  		SELECT SQL_CALC_FOUND_ROWS
  			   MEMBER_NO, 
  			   MEMBER_NAME, 
  			   MEMBER_ID, 
  			   MEMBER_EMAIL, 
  			   MEMBER_ROLE, 
  			   MEMBER_PHONE, 
  			   MEMBER_ADDRESS
  		FROM MEMBER
  		LIMIT #{offset}, #{noOfRecords}
  	</select>
  	
  	<update id="changeRole" parameterType="MemberDto">
  		UPDATE MEMBER
  		SET MEMBER_ROLE = #{member_role}
  		WHERE MEMBER_NO = #{member_no}
  	</update>
  	
  	<select id="totalReport" resultType="int">
  		SELECT COUNT(*) FROM COMMUNITY WHERE COMMUNITY_REPORT = 'Y'
  	</select>
  	
  	<select	id="reportList" resultMap="reportListMap">
  		SELECT a.COMMUNITY_SEQ, a.COMMUNITY_TITLE, a .COMMUNITY_REPORTCOUNT, a.COMMUNITY_REPORTCONTENT, a.COMMUNITY_REGDATE, b.MEMBER_ID
  		FROM COMMUNITY a JOIN MEMBER b on a.member_no = b.member_no WHERE COMMUNITY_REPORT = 'Y'
  		ORDER BY COMMUNITY_SEQ DESC
  	</select>
  	
  	<select id="selectTotalRecords" resultType="int">
  		SELECT FOUND_ROWS();
  	</select>
  	
  	<delete id="deleteCommunity" parameterType="int">
  		DELETE FROM COMMUNITY
  		WHERE COMMUNITY_SEQ = #{seq}
  	</delete>
  	
  	
  </mapper>