<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pet.ft.mapper">
  
  	<select id="MemberOne" resultType="MemberDto" parameterType="int">
  		SELECT * FROM MEMBER WHERE MEMBER_NO = #{member_no}
  	</select>
  	
  	<insert id="MemberInsert" parameterType="int">
  		INSERT IN TO MEMBER
  		VALUES(MEMBER_SEQ.NEXTVAL, #{member_no}, #{member_name}, #{member_id}, #{member_pw}, #{member_email}, #{member_phone}, '회원', #{member_address})
  	</insert>
  	
  	<select id="CommunityList" resultType="CommunityDto">
  	SELECT * FROM COMMUNITY WHERE COMMUNITY_COMMENT = 0
  	
  	</select>
  	<insert id="CommunityInsert" parameterType="CommunityDto">
  		INSERT INTO COMMUNITY
  		VALUES(COMMUNITY_SEQ_SEQ.NEXTVAL, #{community_title}, #{community_content}, SYSDATE, 'N', 0, COMMUNITY_NO_SEQ.NEXTVAL, 0,  #{member_no})  	
  	</insert>
  
  	<select id="CommunityOne" resultType="CommunityDto" parameterType="int">  	
  	  	SELECT * FROM COMMUNITY WHERE COMMUNITY_SEQ = #{community_seq}  	  	
  	</select>
  	 <select id="selectList" resultType="businessDto">
   		SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_NO, BUSINESS_ADDR, BUSINESS_TIME 
  		 FROM BUSINESS 
  		 ORDER BY BUSINESS_NUM DESC
 	 </select>
 	 <select id="selectOne" parameterType="int" resultType="businessDto">
  		SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_NO, BUSINESS_ADDR, BUSINESS_TIME 
   		FROM BUSINESS 
  		WHERE BUSINESS_NUM = #{business_num}
  	</select>
  	<select id="BusinessList" resultType="BusinessDto">
	  	SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_ADDR,BUSINESS_ROLE, MEMBER_PHONE, BUSINESS_PARK
		FROM BUSINESS JOIN MEMBER USING(MEMBER_NO)
		WHERE BUSINESS_ROLE = 'S'
		ORDER BY BUSINESS_NUM DESC
  	</select>
  	 <select id="BusinessOne" parameterType="int" resultType="businessDto">
  		SELECT BUSINESS_NUM, BUSINESS_NAME, BUSINESS_NO, BUSINESS_ADDR, BUSINESS_TIME, BUSINESS_ROLE
   		FROM BUSINESS JOIN MEMBER USING(MEMBER_NO)
  		WHERE BUSINESS_NUM = #{business_num}
  	</select>
  	 <!--  	<insert id="BookInsert" parameterType="BookDto">
  		INSERT INTO BOOK
  		VALUES(BOOK_NUM_SEQ.NEXTVAL, #{book_date}, #{book_time}, #{book_type}, #{book_store}, #{member_no}, 0, 'N', NULL)  	
  		</insert> --><!-- 해당 구문으로 인해 음식카페페이지 에러 발생. 확인중... -->
  
  </mapper>