<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.ft.mapper">

    <resultMap id="diaryMap" type="diaryDto">
        <result property="diary_no" column="DIARY_NO"/>
        <result property="diary_title" column="DIARY_TITLE"/>
        <result property="diary_content" column="DIARY_CONTENT"/>
        <result property="diary_regdate" column="DIARY_REGDATE"/>
        <result property="member_no" column="MEMBER_NO"/>
    </resultMap>

    <resultMap id="petMap" type="petDto">
        <result property="pet_no" column="PET_NO"/>
        <result property="pet_species" column="PET_SPECIES"/>
        <result property="pet_breed" column="PET_BREED"/>
        <result property="pet_name" column="PET_NAME"/>
        <result property="pet_birthday" column="PET_BIRTHDAY"/>
        <result property="pet_gender" column="PET_GENDER"/>
        <result property="member_no" column="MEMBER_NO"/>
        <result property="pet_path" column="PET_PATH"/>
        <result property="pet_vaccination" column="PET_VACCINATION"/>
    </resultMap>

    <resultMap id="pictureMap" type="pictureDto">
        <result property="picture_no" column="PICTURE_NO"/>
        <result property="picture_name" column="PICTURE_NAME"/>
        <result property="picture_directory" column="PICTURE_DIRECTORY"/>
        <result property="member_no" column="MEMBER_NO"/>
    </resultMap>


    <resultMap id="calendarMap" type="calendarDto">
        <result property="calendar_no" column="CALENDAR_NO"/>
        <result property="calendar_startdate" column="CALENDAR_STARTDATE"/>
        <result property="calendar_enddate" column="CALENDAR_ENDDATE"/>
        <result property="calendar_necessity" column="CALENDAR_NECESSITY"/>
        <result property="calendar_item" column="CALENDAR_ITEM"/>
        <result property="calendar_title" column="CALENDAR_TITLE"/>
        <result property="calendar_content" column="CALENDAR_CONTENT"/>
        <result property="member_no" column="MEMBER_NO"/>
    </resultMap>

    <select id="selectPetList" resultMap="petMap" parameterType="int">
        SELECT PET_NO, PET_SPECIES, PET_BREED, PET_NAME, PET_BIRTHDAY, PET_GENDER, MEMBER_NO
        FROM PET
        WHERE MEMBER_NO = ${member_no}
        ORDER BY PET_NO DESC
    </select>

    <select id="selectPetOne" resultMap="petMap" parameterType="hashMap">
        SELECT PET_NO, PET_SPECIES, PET_BREED, PET_NAME, PET_BIRTHDAY, PET_GENDER, MEMBER_NO, PET_PATH, PET_VACCINATION
        FROM PET
        WHERE MEMBER_NO = ${member_no}
        AND PET_NO = ${pet_no}
    </select>
    <select id="selectPictureList" resultMap="pictureMap" parameterType="int">
        SELECT PICTURE_NO, PICTURE_NAME, PICTURE_DIRECTORY, MEMBER_NO
        FROM PICTURE
        WHERE MEMBER_NO = #{member_no}
    </select>

    <select id="selectPictureOne" resultMap="pictureMap" parameterType="hashMap">
        SELECT PICTURE_NO, PICTURE_NAME, PICTURE_DIRECTORY, MEMBER_NO
        FROM PICTURE
        WHERE MEMBER_NO = #{member_no}
        AND PICTURE_NO = #{picture_no}
    </select>

    <select id="selectCalendarList" resultMap="calendarMap" parameterType="int">
        SELECT CALENDAR_NO, CALENDAR_STARTDATE, CALENDAR_ENDDATE, CALENDAR_NECESSITY, CALENDAR_ITEM, CALENDAR_TITLE, CALENDAR_CONTENT, MEMBER_NO
        FROM CALENDAR
        WHERE MEMBER_NO = #{member_no}
    </select>
    <select id="selectCalendarOne" resultMap="calendarMap" parameterType="hashMap">
        SELECT CALENDAR_NO, CALENDAR_STARTDATE, CALENDAR_ENDDATE, CALENDAR_NECESSITY, CALENDAR_ITEM, CALENDAR_TITLE, CALENDAR_CONTENT, MEMBER_NO
        FROM CALENDAR
        WHERE MEMBER_NO = #{member_no}
        AND CALENDAR_NO = #{calendar_no}
    </select>

    <select id="getCount" resultType="int" parameterType="int">
        SELECT COUNT(*)
        FROM PET
        WHERE MEMBER_NO = #{member_no}
    </select>

    <select id="selectPetOnePaging" resultMap="petMap" parameterType="int">
        SELECT R, PET_NO, PET_SPECIES, PET_BREED, PET_NAME, PET_BIRTHDAY, PET_GENDER, MEMBER_NO, PET_PATH, PET_VACCINATION
        FROM (
                 SELECT ROWNUM AS R, A.PET_NO, A.PET_SPECIES, A.PET_BREED, A.PET_NAME, A.PET_BIRTHDAY, A.PET_GENDER, A.MEMBER_NO, A.PET_PATH, A.PET_VACCINATION
                 FROM (
                          SELECT PET_NO,
                                 PET_SPECIES,
                                 PET_BREED,
                                 PET_NAME,
                                 PET_BIRTHDAY,
                                 PET_GENDER,
                                 MEMBER_NO,
                                 PET_PATH,
                                 PET_VACCINATION
                          FROM PET
                          WHERE MEMBER_NO = #{member_no}
                      ) A
             ) X
        WHERE R = #{count}
    </select>

    <insert id="insertPet" parameterType="petDto">
        INSERT INTO PET
        VALUES (PET_NO_SEQ.NEXTVAL, #{pet_species}, #{pet_breed}, #{pet_name}, #{pet_birthday}, #{pet_gender}, #{member_no}, #{pet_path}, #{pet_vaccination})
    </insert>
    <insert id="insertPicture" parameterType="pictureDto">
        INSERT INTO PICTURE
        VALUES (PICTURE_NO_SEQ.NEXTVAL, #{picture_name}, #{picture_directory}, #{member_no})
    </insert>

    <insert id="insertCalendar" parameterType="calendarDto">
        INSERT INTO CALENDAR
        VALUES (CALENDAR_NO_SEQ.NEXTVAL, TO_DATE(#{calendar_startdate}, 'YYYY-MM-DD'), TO_DATE(#{calendar_enddate}, 'YYYY-MM-DD'),#{calendar_necessity}, #{calendar_item}, #{calendar_title}, #{calendar_content}, #{member_no})
    </insert>

    <delete id="deletePicture" parameterType="hashMap">
        DELETE FROM PICTURE
        WHERE MEMBER_NO = #{member_no}
          AND PICTURE_NO = #{picture_no}
    </delete>

    <delete id="deleteCalendar" parameterType="hashMap">
        DELETE FROM CALENDAR
        WHERE MEMBER_NO = #{member_no}
          AND CALENDAR_NO = #{calendar_no}
    </delete>

    <delete id="deletePet" parameterType="hashMap">
        DELETE FROM PET
        WHERE MEMBER_NO = #{member_no}
          AND PET_NO = #{pet_no}
    </delete>

    <update id="updatePet" parameterType="petDto">
        UPDATE PET
        SET PET_PATH = #{pet_path}, PET_VACCINATION = #{pet_vaccination}
        WHERE PET_NO = #{pet_no}
    </update>

    <update id="updateCalendar" parameterType="calendarDto">
        UPDATE CALENDAR
        SET CALENDAR_TITLE = #{calendar_title}, CALENDAR_STARTDATE = #{calendar_startdate}, CALENDAR_ENDDATE = #{calendar_enddate},
            CALENDAR_NECESSITY = #{calendar_necessity}, CALENDAR_ITEM = #{calendar_item}, CALENDAR_CONTENT = #{calendar_content}
        WHERE CALENDAR_NO = #{calendar_no}
    </update>
</mapper>